body {

    background-color: rgba(254, 230, 254);
    

}


.Htitle {
  color:rgb(117, 56, 92);
  padding: 0px;
  font-family: 'Courier New', Courier, monospace; 
  text-align: center;
  font-size: 60px;
 
}

div.pagecontainer {

  max-width: 1080px;
  margin: 0 auto;

}

.bodytxt {
    
    color: rgb(117, 56, 92);
   align-content: left;

}




.uc__art {
    flex-basis: 50%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.uc__art img {
    width: 45%;
}




footer{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(117, 56, 92);
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
}